:root {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 3px solid $main-bg-color;
  background-color: $accent-color;
  transition: all .5s linear;

  &:hover {
    background-color: $bright-accent-color;
  }
}
*::-webkit-scrollbar-track {
  border-radius: 16px;
  background-color: $main-bg-color;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  line-height: 1;
  cursor: pointer;
}

body {
  @include main-font-400;
  min-width: 320px;
  background-color: $main-bg-color;
  font-size: 14px;
  line-height: 1.2;
  color: #000;

  @media (max-width: $tablet-width) {
    font-size: 12px;
  }

  @media (max-width: $mobile-large-width) {
    font-size: 11px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    width: 1160px;
  }
  @media (max-width: $tablet-width) {
    max-width: 640px;
  }
  @media (max-width: 640px) {
    padding: 0 10px;
  }
  @media (max-width: $mobile-small-width) {
    padding: 0 5px;
  }
}

.main {
  overflow-x: clip;
}

.button {
  padding: 20px 46px;
  background-color: $bright-accent-color;
  @include main-font-600;
  font-size: 14px;
  color: $btn-text-color;
  box-shadow: 3px -3px 0px 0.5px rgba(187, 165, 152);
  transition: box-shadow 0.1s ease-in, transform 0.1s ease-in,
    background-color 0.25s linear;

  @media (max-width: $tablet-width) {
    padding: 15px 31px;
  }
  @media (max-width: $mobile-large-width) {
    padding: 11px 23px;
    font-size: 11px;
  }
}
.button:hover {
  background-color: darken($bright-accent-color, 5%);
}
.button:active {
  box-shadow: 0px 0px 0px 0px rgba(187, 165, 152);
  transform: translate(3px, -3px);
}

.title {
  @include title-font-400;
  margin-bottom: 15px;
  font-size: 40px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
  }
  @media (max-width: $mobile-large-width) {
    font-size: 18px;
  }
}

// img {
//   max-width: 100%;
//   height: auto;
// }
// -|* Visually Hidden *|-
// .visually-hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   white-space: nowrap;
//   clip-path: inset(100%);
//   clip: rect(0 0 0 0);
//   overflow: hidden;
// }
/*
img {
  vertical-align: top;
}
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
 */
