html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  @extend %main-font-400;
  min-width: 320px;
  font-size: 14px;
  line-height: 1.2;
  color: #000;

  @media (max-width: $tablet-width) {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
// img {
//   max-width: 100%;
//   height: auto;
// }
// -|* Container *|-
.container {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 1160px;
    padding: 0 20px;
  }
  @media (max-width: $laptop-width) {
    padding: 0 20px;
  }
  @media (max-width: $tablet-width) {
    max-width: 640px;
  }
  @media (max-width: 640px) {
    padding-right: 10px;
    padding-left: 10px;
  }
  @media (max-width: $mobile-smallest-width) {
    padding: 0 5px;
  }
}
// -|* Visually Hidden *|-
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*
img {
  vertical-align: top;
}
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
 */
