// COLORS
$dark-color: #333;
$accent-color: #7B6152;
$bright-accent-color: #FFBD59;
// -| backgrounds |-
$bg-color: #fff8f3;
// END COLORS
// ==| VIEWPORTS |==
$desktop-width: 1339px;
$laptop-width: 999px;
$tablet-width: 767px;
$mobile-large-width: 479px;
$mobile-small-width: 359px;
// ==| / VIEWPORTS |==
// ==| TRANSITIONS |==
$slow-transition: .7s;
$regular-transition: .5s;
$fast-transition: .3s;
// ==| / TRANSITIONS |==
// ==| FONTS |==
%main-font-400 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
}
%main-font-600 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 600;
}

%title-font-400 {
  font-family: "Yeseva One", serif;
  font-weight: 400;
}
// ==| / FONTS |==
