.about {
  padding: 50px 0 60px;
  background-color: $alt-bg-color;
  color: $beige-color;

  @media (max-width: $tablet-width) {
    padding: 45px 0 40px;
  }
}

.about__inner {
  display: flex;
}

.about__content {
  margin-top: 78px;
  min-width: 370px;

  @media (max-width: $laptop-width) {
    min-width: 300px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 0;
    min-width: 200px;
  }
}

.about__title {
  margin-bottom: 13px;
  @include title-font-400;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }
  @media (max-width: $mobile-large-width) {
    margin-bottom: 15px;
  }
}

.about__text {
  margin-bottom: 15px;

  @media (max-width: $mobile-large-width) {
    margin-bottom: 10px;
  }
}

.about__photos {
  position: relative;
  padding-bottom: 48px;
  padding-left: 110px;
  right: 0;
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 20px;

  @media (max-width: $laptop-width) {
    padding-left: 24px;
    margin-bottom: 33px;
    column-gap: 9px;
  }
  @media (max-width: $mobile-large-width) {
    column-gap: 5px;
    align-items: flex-end;
  }
}
.about__photos::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -21px;
  width: 22px;
  height: 30px;
  background-image: url("../img/candle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;

  @media (max-width: $tablet-width) {
    left: 23px;
    bottom: -14px;
  }
}
.about__photos::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $accent-color;
  width: 1000%;
  height: 1px;

  @media (max-width: $tablet-width) {
    left: 44px;
    bottom: -11px;
  }
}

.about__photos-item {
}
.about__photos-item:nth-child(1),
.about__photos-item:nth-child(3) {
  @media (max-width: $laptop-width) {
    margin-bottom: -29px;
  }
  @media (max-width: $mobile-large-width) {
    margin-bottom: 0;
  }
}
.about__photos-item:nth-child(2) {}

.about__photos-img {
  margin-bottom: 10px;

  @media (max-width: $laptop-width) {
    margin-bottom: 0;
  }
}

.about__photos-title {
  font-size: 11px;

  @media (max-width: $laptop-width) {
    font-size: 10px;
  }
  @media (max-width: $mobile-large-width) {
    display: none;
  }
}
