.about {
  padding: 75px 0;
  background-color: $alt-bg-color;
  color: $beige-color;

  @media (max-width: $tablet-width) {
    padding: 45px 0 40px;
  }
}

.about__inner {
  display: flex;
  margin-left: -110px;
  margin-right: -136px;

  @media (max-width: 1366px) {
    margin-right: -55px;
  }
  @media (max-width: 1231px) {
    margin-right: -115px;
  }
  @media (max-width: 1142px) {
    margin-right: 0;
    margin-left: 0;
  }
  @media (max-width: 1024px) {
    margin-right: -41px;
  }
  @media (max-width: 819px) {
    margin-right: 0;
  }
  @media (max-width: $tablet-width) {
    margin-right: -60px;
  }
  @media (max-width: 710px) {
    margin-right: -40px;
  }
  @media (max-width: 520px) {
    margin-right: 0;
  }
  @media (max-width: $mobile-large-width) {
    margin-right: -10px;
  }
  @media (max-width: 413px) {
    margin-right: 0;
  }
}

.about__content {
  margin-top: 78px;
  margin-left: 110px;
  max-width: 370px;

  @media (max-width: 1366px) {
    max-width: 300px;
  }

  @media (max-width: 1142px) {
    margin-left: 0;
  }

  @media (max-width: $tablet-width) {
    margin-top: 0;
    max-width: 200px;
  }
}

.about__title {
  margin-bottom: 13px;
  @include title-font-400;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }
  @media (max-width: $mobile-large-width) {
    margin-bottom: 15px;
  }
}

.about__text {
  margin-bottom: 15px;

  @media (max-width: $mobile-large-width) {
    margin-bottom: 10px;
  }
  @media (max-width: $laptop-width) {
    padding-right: 30px;
  }
  @media (max-width: $tablet-width) {
    padding-right: 0;
  }
}

.about__photos {
  padding-bottom: 48px;
  margin-left: auto;
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 20px;

  @media (max-width: 820px) {
    margin-bottom: 0;
  }
  @media (max-width: $laptop-width) {
    margin-bottom: 33px;
    padding-left: 32px;
    column-gap: 9px;
  }
  @media (max-width: 819px) {
    margin-bottom: -50px;
  }
  @media (max-width: $tablet-width) {
    margin-bottom: -30px;
  }
  @media (max-width: $mobile-large-width) {
    margin-bottom: 0;
    padding-bottom: 50px;
    padding-left: 24px;
    column-gap: 5px;
    align-items: flex-end;
  }
  @media (max-width: 413px) {
    margin-left: 0;
  }
  @media (max-width: 393px) {
    padding-bottom: 56px;
  }
  @media (max-width: 390px) {
    padding-bottom: 69px;
  }
}

.about__photos-item:nth-child(1),
.about__photos-item:nth-child(3) {
  @media (max-width: $laptop-width) {
    margin-bottom: -29px;
  }
  @media (max-width: $mobile-large-width) {
    margin-bottom: 0;
  }
}

.about__photos-item:nth-child(1) {
  @media (max-width: 600px) {
    width: 100px;
  }
  @media (max-width: 520px) {
    display: none;
  }
  @media (max-width: $mobile-large-width) {
    display: block;
    width: auto;
  }
}

.about__photos-item:nth-child(3) {
  @media (max-width: 1142px) {
    display: none;
  }
  @media (max-width: $tablet-width) {
    display: block;
  }
  @media (max-width: 710px) {
    display: none;
  }
}

.about__photos-img {
  margin-bottom: 10px;

  @media (max-width: $laptop-width) {
    margin-bottom: 0;
  }
}

.about__photos-title {
  font-size: 11px;

  @media (max-width: $laptop-width) {
    font-size: 10px;
  }
  @media (max-width: 819px) {
    max-width: 140px;
  }
  @media (max-width: $mobile-large-width) {
    display: none;
  }
}
