.cards__inner {
  padding-bottom: 160px;
  display: grid;
  grid-template-columns: 370px auto;
  gap: 20px;

  @media (max-width: $laptop-width) {
    grid-template-columns: 300px auto;
  }
  @media (max-width: 984px) {
    grid-template-columns: 200px auto;
  }
  @media (max-width: 884px) {
    gap: 15px;
  }
  @media (max-width: $tablet-width) {
    padding-bottom: 120px;
  }
  @media (max-width: 714px) {
    display: block;
    padding-bottom: 80px;
  }
  @media (max-width: $mobile-large-width) {
    padding-bottom: 60px;
  }
}
.stages .cards__inner {
  @media (max-width: 1231px) {
    grid-template-columns: 300px auto;
    justify-content: space-between;
  }
  @media (max-width: 1023px) {
    grid-template-columns: 220px auto;
  }
  @media (max-width: 884px) {
    grid-template-columns: 200px auto;
  }
}
.courses .cards__inner {
  @media (max-width: 1142px) {
    grid-template-columns: 300px auto;
  }
  @media (max-width: 1023px) {
    grid-template-columns: 220px auto;
    justify-content: space-between;
  }
  @media (max-width: 760px) {
    display: block;
    padding-bottom: 80px;
  }
  @media (max-width: 714px) {
    padding-bottom: 50px;
  }
}
.team .cards__inner {
  padding-bottom: 0;
  column-gap: 55px;

  @media (max-width: 1230px) {
    grid-template-columns: 320px auto;
  }
  @media (max-width: 1140px) {
    column-gap: 90px;
  }
  @media (max-width: 1023px) {
    column-gap: 60px;
  }
  @media (max-width: 959px) {
    column-gap: 35px;
  }
  @media (max-width: 890px) {
    grid-template-columns: 240px auto;
    justify-content: space-between;
    column-gap: 20px;
  }
}
.testimonials .cards__inner {
  @media (max-width: 1230px) {
    grid-template-columns: 260px auto;
    justify-content: space-between;
  }
  @media (max-width: $laptop-width) {
    padding-bottom: 70px;
  }
  @media (max-width: 999px) {
    grid-template-columns: 230px auto;
  }
  @media (max-width: $tablet-width) {
    grid-template-columns: 200px auto;
  }
  @media (max-width: 767px) {
    display: block;
    padding-bottom: 40px;
  }
}

.cards__title-box {
  @media (max-width: 714px) {
    margin-bottom: 30px;
    text-align: center;
  }
}
.courses .cards__title-box {
  @media (max-width: 760px) {
    margin-bottom: 30px;
    text-align: center;
  }
  @media (max-width: 411px) {
    max-width: 255px;
    margin: 0 auto 30px;
  }
}
.team .cards__title-box {
  @media (max-width: 890px) {
    font-size: 12px;
  }
}
.testimonials .cards__title-box {
  @media (max-width: 767px) {
    margin: 0 auto 19px;
    max-width: 355px;
    text-align: center;
  }
  @media (max-width: 584px) {
    font-size: 12px;
    margin-bottom: 26px;
  }
}

.cards__title {
  @media (max-width: 714px) {
    margin-bottom: 10px;
  }
}
.team .cards__title {
  @media (max-width: 890px) {
    font-size: 30px;
  }
}

.cards__subtitle {
  @media (max-width: 714px) {
    margin: 0 auto;
  }
}
.stages .cards__subtitle {
  @media (max-width: 714px) {
    max-width: 300px;
  }
}

.cards__card-box {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.stages .cards__card-box {
  @media (max-width: 1231px) {
    grid-template-columns: repeat(2, 300px);
  }
  @media (max-width: 959px) {
    grid-template-columns: repeat(2, 280px);
  }
  @media (max-width: 884px) {
    grid-template-columns: repeat(2, 200px);
  }
  @media (max-width: 450px) {
    grid-template-columns: repeat(2, 161px);
  }
}
.courses .cards__card-box {
  padding-bottom: 71px;
  column-gap: 36px;

  @media (max-width: 959px) {
    grid-template-columns: repeat(2, 270px);
    column-gap: 15px;
  }
  @media (max-width: 840px) {
    grid-template-columns: repeat(2, 212px);
    justify-content: space-between;
    column-gap: 25px;
  }
  @media (max-width: 760px) {
    grid-template-columns: repeat(2, auto);
    column-gap: 15px;
  }
  @media (max-width: 411px) {
    display: block;
  }
}
.team .cards__card-box {
  grid-template-columns: repeat(2, 270px);
  justify-items: start;
  justify-content: space-between;
  row-gap: 65px;

  @media (max-width: 1365px) {
    justify-content: start;
    column-gap: 120px;
  }
  @media (max-width: 1200px) {
    column-gap: 90px;
  }
  @media (max-width: 1140px) {
    column-gap: 30px;
    row-gap: 90px;
  }
  @media (max-width: 1023px) {
    column-gap: 0;
  }
  @media (max-width: 959px) {
    grid-template-columns: repeat(2, 250px);
  }
  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(2, 152px);
    column-gap: 40px;
  }
  @media (max-width: 714px) {
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    justify-content: space-around;
    column-gap: 0;
  }
  @media (max-width: 600px) {
    display: block;
    padding-right: 98px;
  }
}
