.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 290px;
  text-align: center;
}
.team .card {
  margin: 0;
  max-width: 270px;

  @media (max-width: 1200px) {
    max-width: none;
  }
}
.courses .card:not(.card:last-child) {
  @media (max-width: 411px) {
    margin-bottom: 40px;
  }
}
.card__image-box {
  position: relative;
}
.card__pic {
  margin-bottom: 8px;
}
.card__image-sticker {
  @include title-font-400;
  position: absolute;
  padding: 14px;
  background-color: $light-taupe;
  font-size: 14px;
  color: #ffffff;

  @media (max-width: 959px) {
    padding: 8px 10px;
    font-size: 12px;
  }
}
.team .card__image-sticker {
  @include main-font-400;
  bottom: 21px;
  right: -140px;
  max-width: 200px;
  background-color: $accent-color;
  font-size: 11px;

  @media (max-width: 1200px) {
    right: -130px;
    max-width: 182px;
    font-size: 10px;
  }
  @media (max-width: 1140px) {
    right: -20px;
    bottom: -55px;
  }
}
.team .card__image-sticker--short {
  @media (max-width: 1140px) {
    bottom: -27px;
  }
}
.team .card__image-sticker div {
  @include title-font-400;
  margin-bottom: 4px;
  font-size: 14px;

  @media (max-width: 1200px) {
    font-size: 13px;
  }
}
.card__image-sticker--length {
  top: -14px;
  left: -3px;

  @media (max-width: 959px) {
    top: -7px;
    left: 34px;
  }
  @media (max-width: 840px) {
    left: 5px;
  }
  @media (max-width: 760px) {
    left: 15.2%;
  }
  @media (max-width: 601px) {
    left: 8.2%;
  }
  @media (max-width: 414px) {
    left: -4px;
    top: -5px;
  }
  @media (max-width: 411px) {
    left: 17px;
  }
}
.card__image-sticker--price {
  right: -3px;
  bottom: 8px;

  @media (max-width: 959px) {
    right: 34px;
    bottom: 15px;
  }
  @media (max-width: 840px) {
    right: 5px;
  }
  @media (max-width: 760px) {
    right: 15.2%;
    bottom: 13px;
  }
  @media (max-width: 601px) {
    right: 8.2%;
  }
  @media (max-width: 414px) {
    bottom: 16px;
    right: -4px;
  }
  @media (max-width: 411px) {
    right: 17px;
  }
}
.card__image-sticker span {
  @include main-font-400;
  font-size: 13px;

  @media (max-width: 959px) {
    font-size: 11px;
  }
}
.card__price,
.card__name {
  font-size: 16px;

  @media (max-width: 959px) {
    font-size: 14px;
  }
}
.card__price {
  margin-bottom: 12px;
}
.card__name {
  margin-bottom: 16px;
}
.card__description {
  @include main-font-400;
  margin-bottom: 27px;
  font-size: 12px;

  @media (max-width: 959px) {
    font-size: 12px;
  }
  @media (max-width: 411px) {
    margin: 0 auto 27px;
    max-width: 255px;
  }
}
.card__button {
  margin: auto auto 0;
  max-width: 150px;
}
