.certificates .container {
  @media (max-width: 430px) { padding: 0; }
}

.certificates .swiper-wrapper {
  @media (max-width: 380px) { height: 204px; }
}

.certificates__slider {
  overflow: hidden;
  width: 1165px;
  padding-bottom: 46px;

  @media (max-width: 1230px) {
    width: 770px;
  }
  @media (max-width: 1140px) {
    width: 860px;
  }
  @media (max-width: 1023px) {
    width: 570px;
  }
  @media (max-width: $laptop-width) {
    padding-bottom: 68px;
  }
  @media (max-width: 959px) {
    width: 620px;
  }
  @media (max-width: 714px) {
    margin: 0 auto;
    width: 410px;
  }
  @media (max-width: 430px) {
    width: 399px;
  }
  @media (max-width: 411px) {
    width: 100%;
  }
}
.certificates__slider-pagination {
  margin-top: 38px;
  text-align: center;

  @media (max-width: 1536px) {
    margin-left: 14%;
    text-align: initial;
  }
  @media (max-width: 1440px) {
    margin-left: 12%;
  }
  @media (max-width: 1366px) {
    margin-left: 11%;
  }
  @media (max-width: 1280px) {
    margin-left: 9.5%;
  }
  @media (max-width: 1143px) {
    margin-left: 8%;
  }
  @media (max-width: 1140px) {
    margin-left: 0;
  }
  @media (max-width: 1023px) {
    text-align: center;
  }
  @media (max-width: 905px) {
    text-align: left;
  }
  @media (max-width: $tablet-width) {
    margin-left: 7%;
  }
  @media (max-width: 714px) {
    margin-left: 0;
    text-align: center;
  }
}

.certificates__slider-pagination .swiper-pagination-bullet:first-of-type {
  @media (max-width: 905px) {
    margin-left: 0 !important;
  }
  @media (max-width: 714px) {
    margin-left: 4px !important;
  }
}

.certificates .swiper-pagination-bullets .swiper-pagination-bullet {
  @media (max-width: 1023px) {
    width: 30px;
  }
  @media (max-width: 389px) {
    width: 27px;
  }
}