.faq {
  padding-top: 80px;
  padding-bottom: 150px;

  @media (max-width: $laptop-width) {
    padding-bottom: 100px;
  }
  @media (max-width: $tablet-width) {
    padding-top: 60px;
  }
  @media (max-width: 601px) {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}

.faq .title-box {
  @media (max-width: 714px) {
    margin-bottom: 7px;
  }
}

.faq__inner {
  display: flex;
  column-gap: 36px;

  @media (max-width: 714px) {
    display: block;
    text-align: center;
  }
}
