.header {
  background-color: $bg-color;
}
.header__inner {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner .phone {
  position: relative;
  padding-left: 23px;
  transition: all $fast-transition ease-in-out;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/phone.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform $fast-transition ease-in-out;
  }
  &:hover::before,
  &:focus::before {
    transform: scale(1.2);
  }
  &:active {
    color: $bright-accent-color;
  }
}
