.menu__burger {
  margin-right: 7px;
  display: none;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;

  @media (max-width: 640px) {
    display: inline-block;
  }
}

.menu__burger-line {
  width: 30px;
  height: 1px;
  background-color: $accent-color;
  box-shadow: 0px 12px $accent-color, 0px 6px $accent-color,
    0px -6px $accent-color, 0px -12px $accent-color;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__list-item {
  text-transform: uppercase;
  transition: all $fast-transition ease-in-out;
}
.menu__list-item:active,
.menu__list-item:focus,
.menu__list-item:hover {
  color: $accent-color;
}

.menu--open .menu__list-item:active,
.menu--open .menu__list-item:focus,
.menu--open .menu__list-item:hover {
  color: $bright-accent-color;
}
