.menu__list {
  display: flex;
  gap: 20px;
}
.menu__list-item {
  text-transform: uppercase;
  transition: all $fast-transition ease-in-out;
}
.menu__list-item:active,
.menu__list-item:focus,
.menu__list-item:hover {
  color: $accent-color;
}
