.products {
  padding-top: 80px;

  @media (max-width: $laptop-width) {
    margin-right: -10px;
  }
  @media (max-width: 959px) {
    margin-right: 0;
  }
  @media (max-width: $tablet-width) {
    padding-top: 60px;
  }
  @media (max-width: 601px) {
    padding-top: 30px;
  }
}

.products__card-box {
  padding-bottom: 71px;
  gap: 50px 20px;

  @media (max-width: $laptop-width) {
    gap: 65px;
  }
  @media (max-width: 959px) {
    gap: 30px 16px;
  }
}
