.stages__list {
  counter-reset: number;
  padding-bottom: 69px;
  gap: 70px;

  @media (max-width: 1231px) {
    gap: 50px;
  }
  @media (max-width: 1023px) {
    gap: 34px;
  }
  @media (max-width: 884px) {
    padding-bottom: 52px;
    gap: 20px;
  }
  @media (max-width: 714px) {
    justify-content: center;
    gap: 35px;
  }
  @media (max-width: $mobile-large-width) {
    gap: 20px;
  }
  @media (max-width: 450px) {
    gap: 20px 15px;
  }
}

.stages__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  &::after {
    counter-increment: number;
    content: "0" counter(number);
    position: absolute;
    bottom: 0;
    left: 1px;
    @include title-font-400;
    font-size: 30px;
    line-height: 1;
    color: #bea495;

    @media (max-width: 884px) {
      font-size: 20px;
    }
    @media (max-width: 450px) {
      top: 105px;
      right: 1px;
      bottom: auto;
      left: auto;
    }
  }

  @media (max-width: $laptop-width) {
    column-gap: 20px;
  }
  @media (max-width: 884px) {
    gap: 15px;
  }
  @media (max-width: 450px) {
    gap: 8px;
  }
}
.stages__item.stages__item--even::after {
  right: 1px;
  left: auto;

  @media (max-width: 450px) {
    right: auto;
    left: 1px;
  }
}
.stages__item:nth-child(n + 10)::after {
  content: counter(number);
}

.stages__item-text {
  padding-bottom: 36px;
  width: 159px;

  @media (max-width: 1231px) {
    width: auto;
    font-size: 13px;
  }
  @media (max-width: 884px) {
    padding-bottom: 22px;
    font-size: 9px;
    line-height: 1.2;
  }
  @media (max-width: 450px) {
    padding-bottom: 0;
  }
}

.stages__item-image {
  display: block;
  width: 158px;
  height: 220px;
  object-fit: cover;

  @media (max-width: 1231px) {
    width: 128px;
    height: 223px;
  }
  @media (max-width: 884px) {
    width: 85px;
    height: 148px;
  }
  @media (max-width: 450px) {
    width: 66px;
    height: 98px;
  }
}
