.team {
  background-color: $alt-bg-color;
  color: #FFFFFF;

  @media (max-width: 1140px) {
    padding-bottom: 135px;
  }
  @media (max-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 119px;
  }
  @media (max-width: 600px) {
    padding-bottom: 89px;
  }
}