.team {
  background-color: $alt-bg-color;
  color: #fff;

  @media (max-width: 1140px) {
    padding-bottom: 135px;
  }
  @media (max-width: $tablet-width) {
    padding-bottom: 70px;
  }
  @media (max-width: 601px) {
    padding-top: 20px;
    padding-bottom: 59px;
  }
}