.testimonials {
  padding-top: 70px;

  @media (max-width: $laptop-width) {
    padding-top: 0;
  }
}

.testimonials__slider {
  overflow: hidden;
  padding-bottom: 46px;
  width: 760px;

  @media (max-width: 1100px) {
    width: 660px;
  }
  @media (max-width: $laptop-width) {
    padding-bottom: 66px;
  }
  @media (max-width: 999px) {
    padding-bottom: 100px;
    width: 550px;
    min-height: 350px;
  }
  @media (max-width: 840px) {
    width: 487px;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 584px) {
    padding-bottom: 60px;
  }
}

.testimonials__slider .swiper-slide {
  display: flex;
  column-gap: 15px;

  @media (max-width: 768px) {
    position: relative;
  }
  @media (max-width: 584px) {
    display: block;
    text-align: center;
  }
}

.testimonials__slider-video-box {
  position: relative;
}

.testimonials__slider-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  background-color: transparent;

  svg {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  svg path {
    transition: fill-opacity $fast-transition ease;
  }

  &:hover svg path {
    fill-opacity: 1;
  }

  @media (max-width: 999px) {
    width: 40px;
    height: 40px;
  }
  @media (max-width: 584px) {
    width: 60px;
    height: 60px;
  }
}

.testimonials__slider-content {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 1100px) {
    margin-top: 15px;
  }
  @media (max-width: 999px) {
    margin-top: 5px;
    justify-content: start;
    font-size: 12px;
  }
  @media (max-width: 584px) {
    max-width: 250px;
    margin: 0 auto;
  }
}

.testimonials__slider-social-links {
  margin-bottom: 6px;

  @media (max-width: 999px) {
    margin-bottom: 3px;
  }
  @media (max-width: 584px) {
    margin: 10px 0;
  }
}
.testimonials__slider-social-links a + a {
  margin-left: 3px;

  @media (max-width: $laptop-width) {
    margin-left: 12px;
  }
}

.testimonials__slider-social-links a:hover {
  transition: color $fast-transition ease;
  color: $accent-color;
}

.testimonials__slider-name {
  @include title-font-400;
  margin-bottom: 15px;
  font-size: 16px;

  @media (max-width: 999px) {
    margin-bottom: 10px;
    font-size: 14px;
  }
  @media (max-width: 584px) {
    font-size: 16px;
  }
}

.testimonials__slider-text {
  @media (max-width: 584px) {
    margin-bottom: 20px;
  }
}

.testimonials__slider-content .button {
  margin: auto 5px 5px auto;
  max-width: 254px;

  @media (max-width: 999px) {
    position: absolute;
    bottom: -47px;
    right: 0;
    padding: 16px 35px;
    font-size: 11px;
  }
  @media (max-width: 840px) {
    bottom: -64px;
  }
  @media (max-width: 767px) {
    bottom: -60px;
  }
  @media (max-width: 601px) {
    bottom: -74px;
  }
  @media (max-width: 584px) {
    position: static;
    margin: 0 auto;
  }
}

.testimonials__slider-pagination {
  margin-top: 37px;
  text-align: center;

  @media (max-width: 999px) {
    margin-top: 13px;
    text-align: left;
  }
  @media (max-width: 767px) {
    margin-top: 24px;
  }
  @media (max-width: 584px) {
    text-align: center;
    margin-top: 20px;
  }
}
.testimonials__slider-pagination .swiper-pagination-bullet:first-of-type {
  @media (max-width: 999px) {
    margin-left: 0 !important;
  }
  @media (max-width: 584px) {
    margin-left: 4px !important;
  }
}
