.top {
  position: relative;
  margin-bottom: 150px;
  padding-top: 43px;
  padding-bottom: 150px;
  min-height: 670px;

  @media (max-width: $mobile-large-width) {
    padding-bottom: 50px;
    min-height: 309px;
  }
  @media (max-width: $mobile-large-width) {
    margin-bottom: 50px;
  }
  @media (max-width: $mobile-small-width) {
    margin-bottom: 30px;
    padding-top: 0;
  }
}

.top__inner {
  position: relative;
}

.top__content {
  padding-top: 150px;
  width: 370px;

  @media (max-width: $laptop-width) {
    width: 333px;
    padding-top: 81px;
  }
  @media (max-width: $tablet-width) {
    width: 230px;
    padding-top: 89px;
  }
  @media (max-width: $mobile-large-width) {
    width: 180px;
    padding-top: 69px;
  }
  @media (max-width: $mobile-small-width) {
    width: 200px;
    padding-top: 61px;
  }
}

.top__title {
  margin-bottom: 15px;
  @include title-font-400;
  font-size: 30px;
  line-height: 1.16;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 20px;
  }
  @media (max-width: $mobile-large-width) {
    margin-bottom: 15px;
    font-size: 15px;
  }
  @media (max-width: $mobile-small-width) {
    font-size: 18px;
  }
}

.top__text {
  margin-bottom: 48px;
  line-height: 1.5;

  @media (max-width: $laptop-width) {
    margin-bottom: 30px;
    max-width: 300px;
  }
  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 10px;
  }
  @media (max-width: $mobile-large-width) {
    margin-bottom: 15px;
    font-size: 8px;
  }
  @media (max-width: $mobile-small-width) {
    font-size: 10px;
    line-height: 1.2;
  }
}

.top__bg-wrapper {
  position: absolute;
  top: 0;
  right: -171px;
  width: 1069px;
  height: 655px;
}

.top__bg-decor {
  position: absolute;
  top: -16px;
  left: 23px;
  width: 656px;
  height: 649px;
  background: url('../img/top/crossed-ellipses.svg') no-repeat center/contain;
  animation: rotate 40s linear infinite;
}

.top__bg-part {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(0.9);
  transition: filter .3s linear;

  &:hover {
    filter: brightness(1);
  }
}
.top__bg-part--1 {
  bottom: -17px;
  left: -15px;
  width: 264px;
  height: 308px;
  background-image: url('../img/top/desktop-bg-part-1.png');
}
.top__bg-part--2 {
  top: 42px;
  left: 189px;
  width: 361px;
  height: 501px;
  background-image: url('../img/top/desktop-bg-part-2.png');
}
.top__bg-part--3 {
  top: -22px;
  right: 265px;
  width: 262px;
  height: 287px;
  background-image: url('../img/top/desktop-bg-part-3.png');
}
.top__bg-part--4 {
  right: 61px;
  bottom: 8px;
  width: 326px;
  height: 351px;
  background-image: url('../img/top/desktop-bg-part-4.png');
}
.top__bg-part--5 {
  top: 28px;
  right: 59px;
  width: 240px;
  height: 320px;
  background-image: url('../img/top/desktop-bg-part-5.png');
}
.top__bg-part--6 {
  right: 358px;
  bottom: -23px;
  width: 234px;
  height: 304px;
  background-image: url('../img/top/desktop-bg-part-6.png');
}

.top__img {
  position: absolute;
  top: 0;
  left: 240px;

  @media (max-width: $laptop-width) {
    top: -13px;
    left: 313px;
    width: 655px;
  }
  @media (max-width: $tablet-width) {
    left: 194px;
  }
  @media (max-width: $mobile-large-width) {
    top: -10px;
    left: auto;
    right: 0;
    width: 309px;
  }
  @media (max-width: 395px) {
    width: 162px;
    top: 15px;
  }
  @media (max-width: 338px) {
    width: 140px;
    top: 40px;
  }
}
